body {
  margin: 0;
  padding: 0;
}
.logo {
  border-radius: 50%;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}
#main-heading-library {
  color: #313d46;
  font-family: Aclonica;
  font-size: xx-large;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.navbar {
  margin: 0 0 40px 0;
  padding: 5px 0;
  font-size: 17px;
  background-color: #313d46;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
  }
}

.selected-nav-menu {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
.nav-menu {
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px;
}
.nav-menu:hover {
  color: yellow;
}
