body {
  margin: 0;
  padding: 0;
}
.logo {
  border: 1px solid #e8f8fd;
  border-radius: 50%;
  margin-right: 10px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
}
.library-name {
  color: #ffffff;
  font-family: Aclonica;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.navbar {
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #313d46;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1000;
  box-shadow: 0 2px 6px 2px #666;

  .nav-menu-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
}

.nav-menu {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  margin-left: 16px;
}

.nav-menu:hover {
  color: yellow;
}
.selected-nav-menu {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
.selected-nav-menu:hover {
  border-bottom: 2px solid yellow;
}
.nav-menu-icon {
  height: 25px;
}

/* Mobile Devices */
@media (max-width: 600px) {
  .logo {
    height: 60px;
  }
  .library-name {
    font-size: 20px;
  }
  .nav-menu {
    display: none;
  }
}

/* Large Mobile Devices */
@media (min-width: 601px) and (max-width: 768px) {
  body {
    background-color: tomato;
  }
  .logo {
    height: 60px;
  }
  .library-name {
    font-size: 20px;
  }
  .nav-menu {
    display: none;
  }
}

/* Tablet Devices */
@media (min-width: 769px) and (max-width: 992px) {
  body {
    background-color: blue;
  }
  .logo {
    height: 60px;
  }
  .library-name {
    font-size: 20px;
  }
  .nav-menu-icon {
    display: none;
  }
}

/* Laptop Devices */
@media (min-width: 993px) and (max-width: 1024px) {
  body {
    background-color: green;
  }
  .logo {
    height: 60px;
  }
  .library-name {
    font-size: 20px;
  }
  .nav-menu-icon {
    display: none;
  }
}

/* Laptop Devices */
@media (min-width: 1024px) {
  .nav-menu-icon {
    display: none;
  }
}
