body {
    margin: 0;
    padding: 0;
  }
  .logo {
    border-radius: 50%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
  }
  #main-heading-library {
    color: #313d46;
    font-family: Aclonica;
    font-size: xx-large;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .navbar {
    margin: 0 0 40px 0;
    padding: 20px 0 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: #313d46;
    word-spacing: 30px;
    position: relative;
  }
  .selected-nav-menu {
    color: #ffffff;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffffff;
  }
  .nav-menu {
    color: #ffffff;
  }
  .nav-menu:hover {
    color: yellow;
  }