.navbar {
    color: #00264d;
    font-weight: bold;
}
.nav-arrows-buttons {
    background-color: #ccd9ff;

    padding: 5px 15px;
    border:#00264d solid 0.5px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 0px #666666;
    cursor:pointer;
}
.nav-arrows-buttons:hover{
transition:0.25s;
border:#00264d solid 1px;
margin-left:1px;
box-shadow:2px 2px 5px 1px #666666;
}
.nav-arrows-icons {
    height: 30px;
    vertical-align: middle;
}